.post-card {
    max-width: 800px;
    margin: 10px auto;
}

.reaction-button {
    margin: 5px 5px 0 5px;
    font-size: 25px;
}

.post-text {
    font-size: 18px;
}

.post-metadata {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.post-metadata-right {
    display: flex;
    flex-direction: column;
}

.post-metadata-date {
    margin-left: auto;
}

@media only screen and (max-width: 720px) {
    .post-card {
        max-width: 800px;
        margin: 10px 20px;
    }

    .post-metadata {
        flex-direction: column;
    }

    .reaction-button {
        font-size: 15px;
    }

    .post-text {
        font-size: 15px;
    }
}