/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$tan90-app-primary: mat-palette($mat-grey);
$tan90-app-accent:  mat-palette($mat-blue-grey);

// Create the theme object (a Sass map containing all of the palettes).
$tan90-app-theme: mat-dark-theme($tan90-app-primary, $tan90-app-accent);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($tan90-app-theme);

body {
    margin: 0;
}

body, html {
    padding: 0 !important; 
    margin: 0 !important;

    background-color: #CFD8DC;
}

.mat-tab-list {
    background-color: white;
}

.mat-input-wrapper {
    margin: 20px;
}
