<mat-form-field class="full-width">
  <br />
  <textarea matInput placeholder="Post text" [(ngModel)]="postText" (keyup)="$event.ctrlKey && $event.keyCode == 13 ? createPost() : null"></textarea>
</mat-form-field>
<div class="atanet-create-buttons-container">
    <input #fileInput type="file" hidden />
    <button [disabled]="isLoading" type="button" class="file-button" mat-raised-button color="primary" (click)="selectFile()">
      <mat-icon>file_upload</mat-icon> {{otherFileName}}
    </button>
  <button class="atanet-create-buttons" [disabled]="isLoading" mat-raised-button color="accent" (click)="closeDialog()">Cancel</button>
  <button class="atanet-create-buttons" [disabled]="isLoading" mat-raised-button color="primary" (click)="createPost()">Create</button>
</div>
