<mat-toolbar color="primary">
    <div class="icon" [routerLink]="['']">
        <img src="/assets/logo.png" alt="atanet" height="42" width="42">
    </div>
    <span>a * tan(et)</span>
    <span class="fill-remaining-space"></span>
    <div *ngIf="authState">
        <button mat-icon-button *ngIf="authState" (click)="refresh()">
            <mat-icon>refresh</mat-icon>
        </button>
        <button class="add-post" mat-icon-button *ngIf="authState" (click)="createPost()">
            <mat-icon>add</mat-icon>
        </button>
        <button class="score-text-button" mat-icon-button [disabled]="true">
            <span class="score-text">{{score | number:'1.2-2'}}</span>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="authState">
            <img class="user-picture" width="100%" [src]="pictureUrl | secure | async" />
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="goToUserProfile()">
                <mat-icon>fingerprint</mat-icon>
                <span>{{authState && authState.email}}</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>
    </div>
</mat-toolbar>
<main>
    <router-outlet></router-outlet>
</main>